body{
    height: 100%;
    font-family: 'Times New Roman', Times, serif;   
    margin: 0;
}
#intro, #poem {
    position: relative;
    opacity: .65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#intro {
    background-image: url("../img/me.jpg");
    min-height: 850px;
}
#poem {
    opacity: 1;
    background-image: url("../img/BlurryBackground.jpg");
    min-height: 300px;
}
#personalInfo, #essay, #classSchedule{
    color: #ddd;
    background-color: #282E34;
    padding: 30px 50px;
    text-align: justify;
}
#caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
}
#caption span {
    color: black;
    padding: 18px;
    font-size: 25px;
}
#thePoem {
    background-color: transparent;
    font-size: 15;
    color: white;
}
#classTable {
    text-align: center;
    background-color:white;
    color: black;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;

}
th, td {
    text-align: left;

}